.image-choice-question {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh; /* Устанавливаем высоту контейнера на 100% экрана */
  overflow: hidden; /* Убираем скроллинг, если элементы выходят за пределы */

  &__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 29px;
    line-height: 141%;
    color: #fff;
    width: 330px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 10px;
    flex-shrink: 0; /* Не даем тексту сжаться */
  }

  &__optionsi {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;
    margin-bottom: 5px; /* Отступ снизу для лучшего расположения */
    flex-grow: 1; /* Позволяет этому блоку растягиваться */
  }

  &__optioni {
    border-radius: 51px;
    width: 251px;
    height: 238px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;
    flex-shrink: 0; /* Не сжимаем элементы */
    
    &:hover {
      transform: scale(1.05);
    }

    &.selected {
      border-color: #4caf50;
      transform: scale(1.1);
    }
  }

  // @media (max-width: 991px) {
  //   &__optioni {
  //     width: 150px; /* Увеличиваем размер, если нужно, для меньших экранов */
  //     height: 150px;
  //   }
  // }

  // @media (max-width: 767px) {
  //   &__optioni {
  //     width: 120px;
  //     height: 120px;
  //   }
  // }

  // @media (max-width: 478px) {
  //   &__optioni {
  //     width: 100px;
  //     height: 100px;
  //   }
  // }
}

