.match-question {
  max-width: 330px;
  margin: 0 auto;
  .match-question__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 29px;
    line-height: 141%;
    color: #fff;
    width: 330px;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 87px;
  }

  .match-question__lists {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .match-question__list {
    display: flex;
    flex-wrap: wrap; /* Позволяет элементам переходить на новую строку */
    gap: 20px;
    list-style: none;
    max-width: 330px; /* Максимальная ширина */
    padding: 0;
    margin: 0;
  }

  .match-question__item {
    border-radius: 20px;
    padding: 15px 20px;
    text-align: center;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #272727;
    white-space: nowrap;
    cursor: pointer;
    transition:
      background-color 0.3s,
      border-color 0.3s;

    &.selected {
      background-color: #1cc;
      color: #fff;
    }

    &.paired {
      background: #1cc;
      color: #000;
    }
  }

  .svg {
    margin: 30px auto;
  }

  .submit-button {
    // padding: 10px 20px;
    // font-size: 16px;
    // border: none;
    // border-radius: 4px;
    // background-color: #007bff;
    // color: #fff;
    // cursor: pointer;
    // transition: background-color 0.3s;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #272727;
    border-radius: 20px;
    width: 100%;
    padding: 15px 0px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    cursor: pointer;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: background 0.3s ease;

    &:hover {
      background: #1cc;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}
