.match-question {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Равномерное распределение элементов */
  align-items: center;
  height: 100vh; /* Занимаем всю высоту экрана */
  padding: 0 20px; /* Отступы для мобильных устройств */
  box-sizing: border-box; /* Учитываем отступы в расчет размеров */
  justify-content: flex-start;

  .match-question__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 29px; /* Оставляем размер шрифта */
    line-height: 141%; /* Оставляем интервал */
    color: #fff;
    width: 100%;
    text-align: left;
    margin-bottom: 20px; /* Отступ снизу */
  }

  .match-question__lists {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Занимаем всю ширину */
    // flex-grow: 1; /* Это позволяет элементам занимать оставшееся пространство */
    justify-content: space-evenly; /* Распределяем элементы равномерно по вертикали */
  }

  .match-question__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .match-question__item {
    border-radius: 20px;
    padding: 15px 20px;
    text-align: center;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    color: #272727;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;

    &.selected {
      background-color: #1cc;
      color: #fff;
    }

    &.paired {
      background: #1cc;
      color: #000;
    }
  }

  .svg {
    margin: 20px auto;
  }

  .submit-button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    color: #272727;
    border-radius: 20px;
    width: 100%;
    padding: 15px 0px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    cursor: pointer;
    margin-top: 20px;
    max-width: 300px; /* Ограничиваем ширину кнопки */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: background 0.3s ease;

    &:hover {
      background: #1cc;
    }

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }
}

