.question {
  max-width: 330px;
  margin: 0 auto;
}

.single-choice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 10px 15px;
  box-sizing: border-box; /* Учитывает паддинги и границы */
  overflow: hidden; /* Обрезает контент, выходящий за пределы */

  .title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    word-wrap: break-word;
  }

  .text {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
  }

  .optionssg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; /* Расстояние между элементами */
    justify-content: center;
    align-content: center; /* Центрирует элементы по вертикали */
    flex-grow: 1; /* Растягивает секцию на оставшееся место */
    width: 100%;
    max-width: 330px;

    .optionsg {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: calc((100vh - 100px) / 3); /* Адаптивная высота для 3 строк */
      border-radius: 15px;
      background: #ffffff;
      font-size: 16px;
      font-weight: 500;
      color: #272727;
      cursor: pointer;
      max-height: 155px;
      transition: background 0.3s ease, transform 0.2s ease;

      &:hover {
        background: #e0f7fa;
        transform: scale(1.05);
      }
    }

    .circlesg {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #11cccc;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 10px;
    }
  }

  @media (max-width: 767px) {
    .title {
      font-size: 18px;
    }

    .text {
      font-size: 14px;
    }
  }

  @media (max-width: 478px) {
    .title {
      font-size: 16px;
    }

    .text {
      font-size: 12px;
    }
  }
}

