.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  // padding: 20px;
  // font-family: Arial, sans-serif;
  font-family: 'Montserrat';
  text-align: center;
  color: #fff;
  // background: #1a1a50;
  background: rgb(27, 20, 100);
  // border-radius: 10px;

  .progress-bar {
    max-width: 330px;
    margin: 0 auto;
    position: relative;
    height: 7px;
    background: #ddd;
    // border-radius: 5px;
    margin-bottom: 20px;

    &__fill {
      height: 100%;
      background: linear-gradient(90.00deg, rgba(0, 255, 255, 0.5),rgb(0, 255, 255) 100%);;
      border-radius: 0px;
      transition: width 0.3s ease-in-out;
    }
  }

  // .question {
  //   margin-bottom: 20px;

  //   // h2 {
  //   //   font-size: 1.5rem;
  //   // }

  //   p {
  //     font-size: 1.2rem;
  //     margin-bottom: 20px;
  //   }
  // }

  // .options {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr); /* Два столбца */
  //   gap: 10px;

  //   .option {
  //     display: flex;
  //     align-items: center;
  //     padding: 10px 20px;
  //     font-size: 1rem;
  //     color: #1a1a50;
  //     background: #f9f9f9;
  //     border: none;
  //     border-radius: 5px;
  //     cursor: pointer;
  //     transition: transform 0.2s, background 0.2s;

  //     &.selected {
  //       background: #c8e6c9;
  //     }

  //     &:hover {
  //       background: #e0e0e0;
  //       transform: scale(1.05);
  //     }

  //     &:active {
  //       transform: scale(0.95);
  //     }

  //     .checkbox {
  //       width: 20px;
  //       height: 20px;
  //       margin-right: 10px;
  //       border: 2px solid #1a1a50;
  //       border-radius: 3px;
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;

  //       &.checked {
  //         background: #4caf50;
  //       }
  //     }
  //   }
  // }

  .next-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background 0.2s;

    &:hover {
      background: #81c784;
    }

    &:active {
      transform: scale(0.95);
    }

    span {
      margin-left: 5px;
    }
  }
}
