.quiz-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; // Скрываем все, что выходит за пределы экрана

  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; // Масштабируем видео для заполнения экрана
    z-index: -1; // Перемещаем видео на задний план
  }

  .quiz-container {
    position: relative;
    z-index: 1; // Поверх видео
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat';
  }
}

