.start-screen {
  display: flex;
  flex-direction: column;
  justify-content: center; // Центрируем содержимое вертикально
  align-items: center; // Центрируем содержимое горизонтально
  height: 100vh; // Высота контейнера равна высоте экрана
 
  text-align: center;
  color: #fff;
  padding: 20px; // Увеличиваем внутренний отступ для мобильных экранов
  box-sizing: border-box; // Учитываем отступы в расчете размеров

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 4rem; // Используем относительные единицы для адаптации
    line-height: 1.2;
    color: #fff;
    text-align: center;
    margin-bottom: 20px; // Добавляем отступ под текст
  }

  &__button {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.5rem; // Относительная единица для адаптации
    color: #272727;
    border-radius: 20px;
    width: 100%;
    max-width: 300px; // Ограничиваем ширину кнопки
    padding: 15px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: background 0.3s ease;

    &:hover {
      background: #1cc;
    }
  }

  @media (max-width: 767px) {
    &__title {
      font-size: 2rem; // Уменьшаем размер текста для маленьких экранов
      margin-bottom: 10px;
    }

    &__button {
      font-size: 1rem;
      padding: 10px;
      max-width: 250px; // Уменьшаем максимальную ширину кнопки
    }
  }
}

